@font-face {
    font-family: comp;
    src: url("./font/Perfect_DOS_VGA_437.ttf");
}

    .nav {    
        overflow: hidden;
        position: fixed;
         color: black;
        min-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .nav a {
        float: center;
        color: rgb(180, 170, 75);
        text-align: center;
        text-decoration: none;
        font-family: comp;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav a:hover {
        color: rgb(37, 34, 16);
    }

body {
    background-color: white;

    background-size: 1000px 1000px;

    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    }

h1{
    text-align: center;
    font-size: 30px;
    font-family: comp;
    color: black;

    }
h1:hover{
    text-align: center;
    font-size: 30px;
    font-family: comp;
    color:rgb(180, 170, 75);

    }

h2{
    text-align: center;
    font-size: 20px;
    font-family: comp;
    color:black; 

    }
h2:hover{
    text-align: center;
    font-size: 20px;
    font-family: comp;
    color:rgb(180, 170, 75);
  
    }
h3{
    text-align: center;
    font-size: 20px;
    font-family: comp;
    color:  #09034f; 
}

input[type=text], select, textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 100%; 
    padding: 12px;
    border: 1px solid rgba(204, 204, 204, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; 
    background-color: #7a807b54;
  }
  input[type=submit] {
    background-color: #000000;
    font-family: arial;
    font-size: 20px;
    color: rgba(133, 104, 81, 0.527); ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #7a807b54;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f200;
    padding: 20px;
  }
    
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the top of the video/page */
  .navbar-content {
    position: fixed;
    top: 0;
    left: 0;
    color: #f1f1f1;
   min-width: 100%;
    padding-top: 50px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    min-width: 50%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 600px;
    padding-left: 375px;
    justify-content: space-between;
    background: rgba(129, 129, 128, 0.9);
   
  }
  .footer a {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
   min-width: 5%;
  }

  .footer li{
     list-style-type: none; 
  }
  .footer a:hover{
    -webkit-filter: invert(2);
    filter: invert(2); 
  }